@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Varela+Round&display=swap");

body {
  background: #fff;
}

 .imagem-card img {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline;
} 

 .write-card {
  position:absolute;
  display: inline;
  color: white;
  z-index: 1;
  justify-content: center;
} 
